@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
  transform: translateY(1px);

  svg {
    transform: translateY(1px);
  }
}

.intros {
  .video-box {
    position: relative;

    a {
      //   @include absolute_center;

      span {
        i {
          font-size: 6rem;
          color: $primary;
        }
      }
    }
  }
}

.button-animation {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6rem;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  -webkit-animation: button-animation 0.5s linear infinite;
  animation: button-animation 0.5s linear infinite;

  &--layer-one {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  &--layer-two {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}
