.languages {
  padding: 0 0 5rem 0;

  &_logo-box {
    max-width: 100%;
    max-height: 20%;
    padding: 0.5rem;
    text-align: center;
    position: relative;

    img {
      // height: 100%;
      &:hover {
        -webkit-filter: grayscale(120);
        filter: grayscale(120);
      }
    }
  }
}
