@use '../custom' as *;
@use './mixins' as *;

// DISPLAY-2

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

// Line Below Languages

.languages_line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  background-color: $primary;
  margin: 0 auto;
}
.languages_line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin-bottom: 1rem;
  background-color: $primary;
  margin: 0 auto;
}

// DISPLAY 3

.display-3 {
  font-family: "Poppins", sans-serif;

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-size: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}

// BORDER RIGHT

.border-right {
  border-right: 0.2rem solid $gray-200;
  height: 100%;
}
